body{
    background-color: #3366CC;
}
p { 
 font-family:"Arial" ;
 font-size: 150%;


}
button{
font-family:"Arial" ;
height: 55px;

}
h1{
    
    font-family: "Georgia";
    font-size:200%
   
}
h2{
    
    font-family: "Georgia";
    font-size:110%
}
hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
input {
    width: 50px;
}